*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.title{
    text-align: center;
    color: blue;
    font-size: 40px;
    font-weight: bold;
    font-weight: 400;
}

.container{
    width: 100%;
    height:100vh;
    background: rgb(247, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    background: rgb(34, 24, 24);
    padding: 10px;
    border-radius: 15px;
}
.calculator form input{

    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0px,0px,15px rgb(74, 74, 72) 5px,5px,15px rgb(3, 3, 3);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;

}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    font-size: 45px;
    flex:1;
    box-shadow: none;
    background-color: rgb(39, 201, 196);
}
form input.equal{
    background-color: blue;
   
}
form input.operator{
    background-color:blue;
}
.calculator-button {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-size: 16px;
}
